Flows_TCP_UDP.json
[
    {
        "id": "1c5581a0352e19bc",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ccabd63702dca135",
        "type": "ui_gauge",
        "z": "1c5581a0352e19bc",
        "name": "",
        "group": "81773ea72b0dea06",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "4b2aecd0b42e96d6",
        "type": "ui_gauge",
        "z": "1c5581a0352e19bc",
        "name": "",
        "group": "81773ea72b0dea06",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "7f3e756403e402ca",
        "type": "tcp in",
        "z": "1c5581a0352e19bc",
        "name": "",
        "server": "client",
        "host": "192.168.103.27",
        "port": "10025",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "tls": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "1b73aa7403d94eca",
                "f54b3a20436e753a",
                "7fec0a8e7049e2e5"
            ]
        ]
    },
    {
        "id": "f54b3a20436e753a",
        "type": "function",
        "z": "1c5581a0352e19bc",
        "name": "Temp",
        "func": "data = JSON.parse(msg.payload);\nnode.log(typeof data);\nmsg.payload = data.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "1069fc93b4da2b83",
                "4b2aecd0b42e96d6",
                "325761afc3851f16"
            ]
        ]
    },
    {
        "id": "1b73aa7403d94eca",
        "type": "function",
        "z": "1c5581a0352e19bc",
        "name": "Fan_State",
        "func": "data = JSON.parse(msg.payload);\nnode.log(typeof data);\nif (data.fan_state == '1')\n  msg.payload = 'true'\nelse if (data.fan_state == '0')\n  msg.payload = 'false'\n// msg.payload = data.fan_state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "1c190eb8b7194275",
                "915289b1c3f0dba6"
            ]
        ]
    },
    {
        "id": "7fec0a8e7049e2e5",
        "type": "function",
        "z": "1c5581a0352e19bc",
        "name": "Humidity",
        "func": "data = JSON.parse(msg.payload);\nnode.log(typeof data);\nmsg.payload = data.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 480,
        "wires": [
            [
                "0f1ca4199073256d",
                "ccabd63702dca135"
            ]
        ]
    },
    {
        "id": "1069fc93b4da2b83",
        "type": "debug",
        "z": "1c5581a0352e19bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "1c190eb8b7194275",
        "type": "debug",
        "z": "1c5581a0352e19bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "0f1ca4199073256d",
        "type": "debug",
        "z": "1c5581a0352e19bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "915289b1c3f0dba6",
        "type": "ui_switch",
        "z": "1c5581a0352e19bc",
        "name": "",
        "label": "Fan",
        "tooltip": "",
        "group": "81773ea72b0dea06",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "325761afc3851f16",
        "type": "ui_chart",
        "z": "1c5581a0352e19bc",
        "name": "",
        "group": "81773ea72b0dea06",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "255",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "90e1efe0f836b7f8",
        "type": "ui_gauge",
        "z": "1c5581a0352e19bc",
        "name": "",
        "group": "0bc423003a58f61c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 640,
        "y": 980,
        "wires": []
    },
    {
        "id": "6890cbfe24a1dc5a",
        "type": "ui_gauge",
        "z": "1c5581a0352e19bc",
        "name": "",
        "group": "0bc423003a58f61c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 700,
        "wires": []
    },
    {
        "id": "66ce298c9b263e2b",
        "type": "function",
        "z": "1c5581a0352e19bc",
        "name": "Temp",
        "func": "data = JSON.parse(msg.payload);\nnode.log(typeof data);\nmsg.payload = data.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 760,
        "wires": [
            [
                "0c5cb2e7277453d7",
                "6890cbfe24a1dc5a",
                "f3230cccbecf6c32"
            ]
        ]
    },
    {
        "id": "cb770e69f6604ff9",
        "type": "function",
        "z": "1c5581a0352e19bc",
        "name": "Fan_State",
        "func": "data = JSON.parse(msg.payload);\nnode.log(typeof data);\nif (data.fan_state == '1')\n  msg.payload = 'true'\nelse if (data.fan_state == '0')\n  msg.payload = 'false'\n// msg.payload = data.fan_state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 900,
        "wires": [
            [
                "7ba01e0b1d11eac8",
                "420be60af10883fa"
            ]
        ]
    },
    {
        "id": "6bb0d2dae07d4869",
        "type": "function",
        "z": "1c5581a0352e19bc",
        "name": "Humidity",
        "func": "data = JSON.parse(msg.payload);\nnode.log(typeof data);\nmsg.payload = data.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1040,
        "wires": [
            [
                "9973be5593bf1006",
                "90e1efe0f836b7f8"
            ]
        ]
    },
    {
        "id": "0c5cb2e7277453d7",
        "type": "debug",
        "z": "1c5581a0352e19bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 760,
        "wires": []
    },
    {
        "id": "7ba01e0b1d11eac8",
        "type": "debug",
        "z": "1c5581a0352e19bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 900,
        "wires": []
    },
    {
        "id": "9973be5593bf1006",
        "type": "debug",
        "z": "1c5581a0352e19bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1040,
        "wires": []
    },
    {
        "id": "420be60af10883fa",
        "type": "ui_switch",
        "z": "1c5581a0352e19bc",
        "name": "",
        "label": "Fan",
        "tooltip": "",
        "group": "0bc423003a58f61c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "f3230cccbecf6c32",
        "type": "ui_chart",
        "z": "1c5581a0352e19bc",
        "name": "",
        "group": "0bc423003a58f61c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "255",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "164f192db943e464",
        "type": "udp in",
        "z": "1c5581a0352e19bc",
        "name": "",
        "iface": "",
        "port": "10071",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "cb770e69f6604ff9",
                "66ce298c9b263e2b",
                "6bb0d2dae07d4869"
            ]
        ]
    },
    {
        "id": "81773ea72b0dea06",
        "type": "ui_group",
        "name": "Room Appliances",
        "tab": "cb511e8ed4d8a9a0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "Plots"
    },
    {
        "id": "0bc423003a58f61c",
        "type": "ui_group",
        "name": "Room UDP",
        "tab": "deb765d27d580ee8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb511e8ed4d8a9a0",
        "type": "ui_tab",
        "name": "TCP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "deb765d27d580ee8",
        "type": "ui_tab",
        "name": "UDP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]